<div class="row justify-content-md-center">
  <div class="col-lg-4 col-sm-12 mb-sm-4">
    <div class="card" id="content">
      <div class="card border-secondary">
        <div class="card-header bg-secondary text-white" id="h-r-header">Ingredients:</div>
        <div class="card-body">
          <% if (@recipe.ingredients).any? %>
            <ul>
              <% @recipe.ingredients.each do |ingredient| %>
                <% list = List.where(:recipe_id => @recipe.id, :ingredient_id => ingredient.id).first %>
                <li><%= list.quantity + " " + Unit.find(list.unit_id).name + " "%> <%=" " + ingredient.name %></li>
              <% end %>
            </ul>
          <% else %>
            <p>There are no ingredients yet! Add or create a new ingredient using the form to the right!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-sm-12">
    <div class="card ml-lg-0" id="content">
      <div class="card border-secondary" id="highest-rated">
        <div class="card-header bg-secondary text-white" id="h-r-header">Add an Ingredient</div>
        <div class="card-body mb-3" id="h-r-body">
          <% # ROUTE ME & FIX NAMES %>
          <form class="mb-3" action="/recipe/new/<%= @recipe.id %>/ingredient/add" method="post">
            <div class="form-row align-items-center">
              <div class="col-sm-4">
                <select class="custom-select" name="ingredient_id" style="width: 100%;">
                  <% (@ingredients - @recipe.ingredients).each do |ingredient| %>
                  <option value="<%= ingredient.id %>">
                    <%= ingredient.name %>
                  </option>
                  <% end %>
                </select>
              </div>
              <div class="col-sm-2">
                <input name="quantity" class="form-control mb-2 mb-sm-0" placeholder="2">
              </div>
              <div class="col-sm-4">
                <select class="custom-select" name="unit_id" style="width: 100%;">
                  <% @units.each do |unit| %>
                    <option value="<%= unit.id %>">
                      <%= unit.name %>
                    </option>
                  <% end %>
                </select>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block" style="width:100%;">Submit</button>
              </div>
            </div>
          </form>
          <h3 class="text-center">OR</h3>
          <% # ROUTE ME & FIX NAMES %>
          <form class="mt-3" action="/recipe/new/<%= @recipe.id %>/ingredient/create" method="post">
            <div class="form-row align-items-center">
              <div class="col-sm-4">
                <input class="form-control mb-2 mb-sm-0" type="text" name="name" placeholder="Flour">
              </div>
              <div class="col-sm-2">
                <input class="form-control mb-2 mb-sm-0" type="text" name="quantity" placeholder="2">
              </div>
              <div class="col-sm-4">
                <select class="custom-select" name="unit_id" style="width: 100%;">
                  <% @units.each do |unit| %>
                    <option value="<%= unit.id %>">
                      <%= unit.name %>
                    </option>
                  <% end %>
                </select>
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-block" style="width:100%;">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="/recipe/new/<%= @recipe.id %>/step">Add steps</a>
